.menu-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #ece8ff;
    }

    .menu-item__link{
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

    }

    .icon {
      font-size: 18px;
      color: #7451f8;
    }

    span{
        font-size: 13px;
        font-weight: 600;
        color: #888;
        margin-left: 10px;
    }
  }